.user{
    display: flex;
    width: 500px;
    justify-content: space-around;
    background-color: rgb(39, 38, 38);
    height: 45px;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
}
.user .id{
    text-decoration: underline;
}